@(campaign: String)
@main("Welcome ADNet Platform!") {

    <div class="modal fade" id="getCampaignCode">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Sample Code</h5>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div>

    </div>
    <h3 class="page-header">Add Campaing</h3>
    <div ng-app="" ng-controller="campaignController" class="row placeholders">
        <div class="row placeholders">
            <div class="span2 " >
                <a href="#" data-toggle="modal" data-target="#getCampaignCode" class="btn btn-block btn-small btn-warning">Get Campaign Code</a>
            </div>

            <div class="span2">
                <a href="adDetail" class="btn btn-block btn-small btn-primary">Test Campaign</a>
            </div>
            <div class="span2">
                <a href="#fakelink" class="btn btn-block btn-small btn-info">Delete Campaign</a>
            </div>
        </div>

        <form  class="form-horizontal" role="form" style="font-size:40px">

            <div class="form-group">
                <h6 class="col-xs-3 control-label" for="name">Name</h6>
                <input type="text" class="form-control span3" id="name" ng-model="campaign.name" value placeholder="Pleae input campaign name">
            </div>
            <div class="form-group">
                <h6 for="targetCountryId"  class="col-xs-3 control-label">
                    Target Country
                </h6>
                <div class="col-sm-3">
                    <select ng-model="campaign.targetCountry" class="form-control span3 select select-primary" data-toggle="select">
                        <option value="0">China</option>
                        <option value="1">England</option>
                        <option value="2">USA</option>
                        <option value="3">Japna</option>
                        <option value="4" selected>Germany</option>
                        <option value="5">France</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <h6 for="bannerSizeId"  class="col-xs-3 control-label">
                    Banner Size
                </h6>
                <div class="col-sm-3">
                    <select ng-model="campaign.bannerSize" class="form-control span3 select select-primary" data-toggle="select">
                        <option value="0" selected>300*300</option>
                        <option value="1">400*400</option>
                        <option value="2">600*600</option>
                        <option value="3">700*700</option>
                    </select>
                </div>
            </div>

            <div class="form-group ">
                <h6 for="bannerSizeId"  class="col-xs-3 control-label">
                    Random
                </h6>
                <input ng-model="campaign.random"  type="checkbox" class="form-control col-sm-2" checked data-toggle="switch" id="custom-switch-01" />
            </div>

            <h5 class="page-header">Banner List</h5>
            <div class="col-lg-offset-3">

            <div class="form-group" ng-repeat="x in campaign.banners">
                <div class="col-span-3">
                    <input mg-model="x.id" type="hidden" value="{{$index+1}}" id="bannerId" >
                    <input ng-model="x.name" type="text" class="form-control span3" id="bannerName"  value placeholder="Name">
                    <input ng-model="x.url" type="text" class="form-control span3" id="bannerUrl"  value placeholder="http://">
                </div>
            </div>
            </div>

            <div class="form-group">
                <div class=" span2 col-lg-offset-3 ">
                <button ng-click="addCampaign()" class="btn btn-block btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>




    <!--
      Scripts, with the exception of modernizr, go at the bottom of the page
      to improve load time.
    -->

    <!-- Must bootstrap JavaScript loading by specifying RequireJS here. -->
    <script data-main="@routes.Assets.at("js/config/require.config")" src="@routes.Assets.at("js/vendor/require-2.1.10-min.js")"></script>

    <script type="text/javascript">
    // Load require.config.js which configures RequireJS.
    // require.config.js sets the baseUrl to be /assets/javascripts so all
    // future dependencies resolved by require will load from that directory.
    require(['/assets/js/views/addAd.js'],
    function(){

    });

    function campaignController($scope,$http) {
   console.log("@campaign ".replace(/&quot;/g, "\""));
    $scope.campaign=JSON.parse("@campaign ".replace(/&quot;/g, "\""));
   // $scope.campaign={"name":"Campaign Name1","targetCountry":"1","bannerSize":1,"banners":[{"id":1,"name":"Sina","url":"www.sina.com"},{"id":2,"name":"Baidu","url":"www.baidu.com"},{"id":3,"name":"Google","url":"www.google.com"}]};
   // $scope.campaign.banners=[{"name":"name1","url":"1"},{"name":"name2","url":"3"},{"name":"name3","url":"4"}];
    $scope.addCampaign = function(){
    var aTostr = JSON.stringify($scope.campaign);
    //alert("hello"+aTostr);
    $http.post("clickAd",aTostr,function(data){
    alert("save successfully");
    },"json");


    }

    $scope.getCampaignCode = function(){
     $('#myModal').modal()
    }
    }

    </script>



}
