@(dashboards: String)

@main("Dashboard") {

    <h3 class="page-header">Statistics of AD</h3>
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>

    <div ng-app="" ng-controller="dashboardController">
    <div class="row placeholders " >


        <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="x in dashboards">
            <div class="propontos_img">
                <span class="font_white" >{{x.clickCount}}</span>
            </div>

            <h6 >{{x.bannerName}}</h6>
        </div>

    </div>

    <h4 class="sub-header" ng-da>IP History</h4>
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Click Count</th>
                    <th>Ip</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in dashboards">
                    <td>{{x.bannerName}}</td>
                    <td>{{x.clickCount}}</td>
                    <td>
                        <span ng-repeat="y in x.ipHistory">{{y}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>


    <script data-main="@routes.Assets.at("js/config/require.config")" src="@routes.Assets.at("js/vendor/require-2.1.10-min.js")"></script>
    <script src="@routes.Assets.at("js/vendor/holder.js")"></script>
    <script>

    var readyStateCheckInterval = setInterval(function() {
    if (document.readyState === "complete") {
    clearInterval(readyStateCheckInterval);
    require(['@routes.Assets.at("js/views/dashboard.js")'],
    function(){

    });


    }
    }, 10);

    function dashboardController($scope) {
    console.log("@dashboards ".replace(/&quot;/g, "\""));
    $scope.dashboards=JSON.parse("@dashboards ".replace(/&quot;/g, "\""));

    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
    var chatSocket = new WS("@routes.Application.chat().webSocketURL(request)");

    var sendMessage = function() {
    chatSocket.send(JSON.stringify(
    {text: $("#talk").val()}
    ))
    $("#talk").val('')
    }

    var receiveEvent = function(event) {
    var data = JSON.parse(event.data);
    var ss = JSON.stringify(data.dashboards)
    console.log (ss);

    //$scope.dashboards=JSON.parse("@dashboards ".replace(/&quot;/g, "\""));
    $scope.$apply(function(){
        $scope.dashboards=JSON.parse(ss);
    });

    //alert ($scope.dashboards);
      //  alert("get Data");
    }
    chatSocket.onmessage = receiveEvent

    //var receiveEvent =  dashboardController;
    // $scope.campaign.banners=[{"name":"name1","url":"1"},{"name":"name2","url":"3"},{"name":"name3","url":"4"}];
    }


    </script>

}