@(campaign: Campaign)

@main("Welcome ADNet Platform!") {

    <h3 class="page-header">Testing Campaign</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">AD Impression</h3>
        </div>
        <div class="panel-body">
            <div class="banner">
                <ul>
                    @if( campaign.getBanners()!=null){
                        @for(banner <- campaign.getBanners()){
                            <li style="background-image: url('@routes.Assets.at("images/sunset.jpg")');">
                                <div class="inner">
                                    <h1>@banner.getName()</h1>
                                    <p>Good</p>
                                    <a class="btn" href="/statistics/@banner.getId">Go </a>
                                </div>
                            </li>
                        }
                    } else {
                        No Ad display!
                    }
                </ul>
            </div>
        </div>
    </div>




    <script data-main="@routes.Assets.at("js/config/require.config")" src="@routes.Assets.at("js/vendor/require-2.1.10-min.js")"></script>
    <script>

        var readyStateCheckInterval = setInterval(function() {
        if (document.readyState === "complete") {
        clearInterval(readyStateCheckInterval);
        require(['/assets/js/app.js'],
        function(){

        });
        }
        }, 10);



    </script>


}