
body{
    color: #282b36;
    border-top:8px solid #282b36;
}
.redBorder,
.greenBorder,
.yellowBorder {
    width: 33.33%;
    float: left;
    height: 8px;
}
.redBorder {
    background-color: #f33e6f;
}
.greenBorder {
    background-color: #46bfbd;
}
.yellowBorder {
    background-color: #fdb45c;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}
.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}
.banner {
    position: relative;
    width: 100%;
    overflow: auto;

    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: rgba(255,255,255,.6);
    text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

    background: #5b4d3d;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.banner ul {
    list-style: none;
    width: 300%;
    float:left;
    padding-left:0;
    margin-left:0
    position:relative;
}
.banner ul li {
    display: block;
    float: left;
    width: 33%;
    min-height: 350px;

    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;

    box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}

.banner .inner {
    padding: 160px 0 110px;
}

.banner h1, .banner h2 {
    font-size: 40px;
    line-height: 52px;

    color: #fff;
}

.banner .btn {
    display: inline-block;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    clear: both;

    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
}
.banner .btn:hover {
    background: rgba(255,255,255,.05);
}
.banner .btn:active {
    -webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
}

.banner .btn, .banner .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.banner .dots li.active {
    background: #fff;
    opacity: 1;
}

.banner .arrows {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
}
.banner .arrow {
    display: inline;
    padding-left: 10px;
    cursor: pointer;
}

.row {
    margin:0;
}
.navbar-fixed-top {
    position:relative;
    display: block;
    margin:0 -15px;
}
.main {
    margin-left:0;
}
.placeholders {
    text-align: right;
    margin-bottom:30px;
}

.placeholders .span2 {
    float:none;
    display:inline-block;
}
.placeholders h5 {
    text-align: left;
}
.placeholders h6 {
    text-align: center;
}
.sidebar{
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    height: 830px;
}
.bootstrap-switch {
    margin: 15px 0 0 45px;
    float: left;
}
.page-header{
    margin: 20px 0 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.propontos_img {
    display: inline-block;
    position: relative;
    width: 39%;
    background: url("/assets/images/propontos.png") no-repeat;
    text-align: right;
    height: 143px;
    width: 143px;
}

.propontos_img span {
    position: absolute;
    top: 16%;
    font-size: 1.2em;
    right: 0;
    text-align: center;
    left: 0;
    padding: 0;
    width: 100%;
    margin: 0;
    color: #FFFFFF;
}
#onError {
    display: none;
}
.top-buffer { margin-top:100px; }