body
{
    background: gray;
}

.slotView
{
    border: 1px solid #a0a0a0;
    background: black;
    margin-bottom: 0px;
    margin-left:   0px;
}

.svTitleBar
{
    height: 22px;
    font: 14pt Calibri;
    cursor: move;
    border-bottom: 1px solid #808080;
}

.tbLocation
{
    float: left;
    width: 30%;
    text-align: left;
}

.tbPatientName
{
    float: left;
    width: 30%;
    text-align: center;
}

.tbAlarmText
{
    float: left;
    width: 40%;
    text-align: right;
}

.wvfmCanvas
{
    float: left;
    height: 150px;
}

.numericBlocks
{
    float: left;
    width: 200px;
}

.nbTitleBar
{
    background: -webkit-gradient(linear, 0% 100%, 50% 100%, from(#808080), to(#000000));
    background: -moz-linear-gradient(left, #808080,  #000000);
}

.nbtbLabel
{
    float: left;
    width: 25%;
    text-align: left;
    color: white;
    font: bold 14pt Calibri;
}

.nbtbUOM
{
    float: left;
    width: 25%;
    text-align: center;
    color: #20c040;
}

.nbtbLimits
{
    float: left;
    width: 50%;
    text-align: right;
    color: #20c040;
}

.nbParameterLabel
{
    float: left;
    text-align: left;
    color: #20c040;
    font: bold 14pt Calibri;
}

.nbParameterValue
{
    float: right;
    text-align: right;
    font: bold 42pt Calibri;
    line-height: 85%;
}

/*
 * Here the pseudo element after is used to clear floats.
 */
.slotView:after,
.nbParameter:after,
.nbTitleBar:after
 {
    content: "\0020";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
